{% if attribute.value %}
{% if attribute.value.value is not empty %}
{% if attribute.value.page_id is defined %}{% set url = path('majes_cms_' ~ attribute.value.page_id ~  '_' ~ lang) %}
{% else %}{% set url = attribute.value.value %}{% endif %}
                
{% if container == true %}<span class="mjcms_link">{% endif %}<a href="{{ url }}" target="{{attribute.value.target}}">{{ attribute.value.label }}</a>{% endif %}{% if container == true %}</span>{% endif %}{% endif %}