{% if attribute.value['media_id'] %}
{% if container == true %}<span class="mjcms_picture">{% endif %}
	{% if attribute.value != false %}{{ teelMediaLoad(attribute.value.media_id, false, false, true)|raw }}{% endif %}
	<legend>{{attribute.value['author']}}</legend>
{% if container == true %}</span>{% endif %}{% endif %}