{% if attribute.value['media_id'] %}
{% if container == true %}<span class="mjcms_picture">{% endif %}
	<img src="{{ path('_media_load', {'id': attribute.value['media_id'], 'width': attribute.value['width']}) }}" title="{{attribute.value['title']}}" />
	<legend>{{attribute.value['author']}}</legend>
{% if container == true %}</span>{% endif %}{% endif %}