<div class="form-group">
    <div class="col-lg-9">
        <input class="form-control" placeholder="Date" type="text" name="attributes[{{attribute.block_attribute_ref}}][value]" id="{{attribute.block_attribute_ref}}" value="{% if attribute.value %}{{attribute.value.value}}{% endif %}" style="z-index: 100000;"/>
    </div>
</div>
<script>
$('input#{{attribute.block_attribute_ref}}').datepicker({
    format: "dd-mm-yyyy"
});
</script>