<div class="form-group">
    {# <label class="control-label col-lg-3">{{attribute.title}}</label> #}
    <div class="col-lg-9">
        <input class="form-control" placeholder="Text" type="text" name="attributes[{{attribute.block_attribute_ref}}][value]" value="{% if attribute.value %}{{attribute.value.value}}{% endif %}"/>
    </div>
</div>